:root{
    --link:#2196F3;
    --text:#212121;
    --white:#fff;
    --gray:#757575;
    --background:#2F303A;
}
span{
    color: var(--link);
}
a{
    text-decoration: none;
    color: var(--text);
}

ul{
    list-style: none;
}

.body{
    font-family:'Roboto';
    font-weight: 400;
    color: var(--text);
}
.header{
    font-size: 14px;
    font-weight: 400;
}
.WebStudio{
    color: var(--black);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.33px;
    padding: 25px 0 ;
    display: flex;
    margin-right: 93px;
    
}
.header-link{
    color: var(--black);
}
.header-link:focus,
.header-link:hover{
    color: var(--link);
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.33px;
 gap: 344px;
}
.header-wrap{
    display: flex;
    align-items: center;
}
.header-menu{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.header-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
.nav-list{
    display: flex;
    justify-content: center;
}
.button{
    color: var(--text);
    font-family:'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6px;
   height: 38px;
   width: 125px;
   margin-right: 30px;
}
.button:hover,
.button:focus{
    color: var(--white);
    background-color: var(--link);
}
.examples-list{
    display: flex;
    justify-content: space-between;
    
}
.examples{
    width: 1170px;
    height: 1360px;
   
}
    
.footer-link{
    color: var(--white);
}
.list-footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.logo{
    color: var(--white);
    text-align: start;
}
.footer{
    background-color:var(--black);
    height: 251px;
    width: 1600px;
    padding: 60px 0 60px;
   background-color: var(--background);
}

#number{
    color: var(--text);
}
